:root {
  text-align: center;
  font-family: "Poppins";

  background-color: #f0f2f5;
  height: 100vh;
  background-size: cover;
  width: 100%;
}

* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-size: 60px;
  font-weight: bold;
  color: #1877f2;
}
.Login {
  width: 410px;
  height: 390px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}

.all_input_login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.sperate_style {
  display: flex;
  flex-direction: column;
}
.line_login {
  border-top: 1px solid #dadde1;
  padding-bottom: 10px;
}

.input_login {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
}

.input_login:focus {
  outline: none !important;
  border-color: #1877f2;
}

.button_login {
  width: 390px;
  height: 50px;
  outline-style: none;
  background-color: #1877f2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input_#in::placeholder {
  color: #cccecf;
}

::placeholder {
  color: #b7b7b8;
}

.sperate_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.craete_new_account {
  width: 250px;
  height: 50px;
  background-color: #42b72a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

.container_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.container_for_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
}

.register {
  position: fixed;
  top: 18%;
  transition: 0.5s;
}

.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-content {
  width: 480px;
  height: 560px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
  gap: 15px;
}

.input_signup {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
  display: flex;
  flex-direction: column;
}

.input_signup:focus {
  outline: none !important;
  border-color: #1877f2;
}

.line_signup {
  border-top: 1px solid #dadde1;
  padding-bottom: 5px;
}

.gap_inpt_signup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titRegis {
  font-size: 40px;
  font-weight: bold;
}

.buttonRegs {
  width: 250px;
  height: 50px;
  background-color: #00a400;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}

.buttonRegs:hover {
  background-color: #5ea35e;
}

.title_close {
  display: flex;
  gap: 220px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.messagReg {
  font-size: 22px;
}

.nav {
  background-color: #ffffff;

  /* width:1695px; */
  width: 100%;
  height: 60px;
  box-shadow: 1px 2px 5px #dddfe2;
}

body {
  margin: 0;
  padding: 0;
}

.linkreg {
  text-decoration: none;
  font-size: 22px;
  color: #54595f;
}

.linkreg:hover {
  color: #1877f2;
}

.Home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  display: flex;
}
.Post {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 300px;

  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}
.user_name {
  display: flex;
}

.user_and_drop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 320px;
  margin-bottom: 15px;
}
.body {
  display: flex;
  font-size: 17px;
  text-align: justify;
  padding: 20px;
}

.line_post {
  width: 650px;

  border-top: 1px solid #dadde1;
  padding-bottom: 1px;
}

.show_comments {
  cursor: pointer;
  font-size: 20px;
  color: #5c6168;
  display: flex;
  padding-left: 40px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}

.show_comments:hover {
  color: #1877f2;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  color: #1877f2;
  font-size: 45px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

.page_create_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.caertPost {
  width: 550px;
  height: 440px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}

.line_creatpost {
  border-top: 1px solid #dadde1;
  padding-bottom: 5px;
}

.button_craet_post {
  width: 390px;
  height: 50px;
  outline-style: none;
  background-color: #1877f2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button_craet_post:hover {
  background-color: #2960a8;
}

.line_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.title_new_post {
  font-size: 30px;
  font-weight: bold;
}

.body_create {
  display: flex;
  padding-left: 50px;
}
.input_create_post {
  outline: none;
  border-style: none;
  font-size: 27px;
}

.click_new_post {
  width: 650px;
  height: 120px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}

.whats_on {
  cursor: pointer;
  display: flex;
  align-items: center;

  border-radius: 30px;
  background-color: #f0f2f5;
  height: 40px;
  width: 550px;
  padding-left: 30px;
  font-size: 20px;
  color: #5b5b5e;
}

.whats_on:hover {
  background-color: #b2b8c0;
  color: #5b5b5e;
}

.test {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

.dropbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #5b5b5e;
}

/* -------------------------comment ----------------------------*/
.Post_comment {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 100%;

  padding-bottom: 15px;
  border: none;
  margin-bottom: 50px;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
  padding-top: 15px;
}
.comment_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;

  gap: 15px;
  padding-left: 40px;

  height: 100%;
  width: 550px;
}

.one_comment {
  border-radius: 15px;
  background-color: #f0f2f5;
  color: #050505;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 15px;
  box-shadow: -0.2px 1px 5px #cfd0d1;
  padding: 20px;
  align-items: center;
}
.all_comments {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.No {
  font-size: 20px;
}

.show_comments_one {
  cursor: pointer;
  font-size: 20px;
  color: #5c6168;
  display: flex;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  gap: 5px;
}

.body_one {
  display: flex;
  font-size: 19px;
  text-align: justify;
  padding: 20px;
}

.user_name_one {
  text-decoration: none;
  font-size: 22px;
  color: #54595f;
}

.Add_comment {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #f0f2f5;
  color: #000000;
  width: 550px;
  margin-left: 40px;
  padding-left: 15px;
  height: 40px;
  border: none;
  font-size: 17px;
}

.Add_comment:focus {
  outline: none !important;
  border-color: #1877f2;
  color: #4e5155;
}

.apple {
  font-size: 30px;
  color: #1877f2;
  cursor: pointer;
}

.apple:hover {
  color: #1b4781;
}
.home_icon {
  font-size: 37px;
  color: #1877f2;
  cursor: pointer;
}

.home_icon:hover {
  color: #094594;
}

.BsListUl {
  font-size: 30px;
}

.add_comment_syle {
  display: flex;
  gap: 5px;
  align-items: center;
}
